<nav class="container mt-lg-4 pt-5" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0 pt-5">
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to "テスト結果の入力はこちらから", new_test_result_path %>
    </li>
  </ol>
</nav>
<!-- Breadcrumb -->
<nav class="container mt-lg-4 pt-5" aria-label="breadcrumb"></nav>
<!-- Page content -->
<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <!-- Page title + Layout switcher + Search form -->
  <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
    <div class="col-lg-5 col-md-4">
      <h1 class="mb-2 mb-md-0"><%= t '.title' %></h1>
    </div>
    <div class="col-lg-7 col-md-8">
        <%= search_form_for @q, html: { class: 'row gy-2' } do |f| %>
          <div class="col-lg-3 col-sm-6 mb-2">
          <%= f.label :test_name_cont, 'テスト名を検索', class: 'visually-hidden' %>
            <div class="input-group">
              <%= f.search_field :test_name_cont, class: 'form-control', placeholder: 'テスト名を検索' %>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mb-2">
            <div class="input-group">
              <%= f.search_field :user_first_name_or_user_last_name_cont, class: 'form-control', placeholder: '氏名を検索' %>
            </div>
          </div>
          <div class="col-lg-5 col-sm-12">
            <div class="input-group">
              <%= f.select :user_grade_and_class_cont, grade_and_class_options, { include_blank: '学年と組を選択' }, { class: 'form-control mr-2' } %>
              <%= f.submit "検索", class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <!-- Blog grid -->
  <%= turbo_frame_tag "test-results-list" do %>
    <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-md-4 gy-2">
      <% @test_results.each do |test_result| %>
        <!-- Item -->
        <div class="col pb-3">
          <article class="card border-0 shadow-sm h-100">
            <div class="card-body pb-4">
              <div class="d-flex align-items-center justify-content-between mb-3">
                <div class="d-flex gap-2">
                  <% if current_user.own?(test_result) %>
                    <%= link_to "Edit", edit_test_result_path(test_result), class: "badge fs-sm text-nav bg-secondary text-decoration-none" %>
                    <%= link_to "Destroy", test_result_path(test_result), class: "badge fs-sm text-nav bg-secondary text-decoration-none", method: :delete, data: {turbo_method: :delete} %>
                  <% end %>
                </div>
                <li class="list-inline-item">
                  <%= l test_result.created_at, format: :long %>
                </li>
              </div>
              <h4 class= "mb-3">
                <%= test_result.test_name %>
              </h4>
              <p class="h5 mb-3">
                <p><strong>点数</strong><span class="fs-lg fw-semibold text-danger me-2"> <%= test_result.score %></span></p>
                <p><strong>満点</strong><span class="fs-lg fw-semibold text-danger me-2"> <%= test_result.max_score %></span></p>
                <p><strong>達成率</strong><span class="fs-lg fw-semibold text-danger me-2"> <%= test_result.achievement_rate %>%</span></p>
            </div>
            <div class="card-footer py-4">
              <%= image_tag 'sample.jpg', size: '40x40', class: 'rounded-circle mr15'%>
              <%= test_result.user.grade_and_class %>
              <%= link_to test_result.user.decorate.full_name, user_path(test_result.user) %>
            </div>
          </article>
        </div>
      <% end %>
    </div>
    <%= column_chart @user_achievements, xtitle: 'ニックネーム', ytitle: '達成率の平均値', library: { animation: { duration: 1000 }, scales: { y: { beginAtZero: true, max: 100 } } } %>
    <%= paginate @test_results %>
  <% end %>  
</section>