<div class="container d-flex flex-wrap justify-content-center justify-content-center pt-5">
  <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
    <h1 class="text-center text-xl-start"><%= t '.title' %></h1>
    <%= form_with model: @test_result, local: true do |f| %>
      <div class="row">
        <div class="col-12 mb-4">
          <div class="position-relative mb-4">
            <div class="form-group">
              <%= f.label :test_name %>
              <%= f.text_field :test_name, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="position-relative mb-4">
            <div class="form-group">
              <%= f.label :max_score %>
              <%= f.number_field :max_score, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="position-relative mb-4">
            <div class="form-group">
              <%= f.label :score %>
              <%= f.number_field :score, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <%= f.submit '登録する', class: "btn btn-primary shadow-primary btn-lg w-100" %>
    <% end %>
  </div>
</div>