<!-- Hero section with layer parallax gfx -->
<section class="position-relative py-5">
<!-- Gradient BG -->
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary opacity-10"></div>
    <!-- Content -->
    <div class="container position-relative zindex-2 py-lg-4">
      <div class="row">
        <div class="col-lg-5 d-flex flex-column pt-lg-4 pt-xl-5">
          <h5 class="my-2">Welcome!</h5>
          <h1 class="display-3 mb-4"><span class="text-primary">TestScoreRivals</span>で学びがもっと楽しくなる！</h1>
          <p class="fs-lg mb-5">TestScoreRivalsは、テストの得点を手軽に入力して、友達と競い合い、成績をグラフで見るアプリです。みんなで楽しく学習しよう！</p>
          <% unless current_user %>
            <h4>さっそく始めよう！</h4>
            <p>
              <%= link_to '新規登録ページへ', new_user_path %>
            </p>
          <% end %>
        </div>
        <div class="col-lg-7">
        <!-- Parallax gfx -->
          <div class="parallax mx-auto me-lg-0" style="max-width: 648px;">
            <div class="parallax-layer" data-depth="0.1">
              <%= image_tag 'study.jpg', style: "width:100%; height:auto;" %>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>    
</section>
<!-- How it works (Steps) -->
<section class="container pt-4 pt-lg-0 pb-4 pb-lg-5">
  <h2 class="h1 text-center pb-3 pb-md-0 mb-md-5">このアプリでできる4STEP</h2>
    <div class="steps">
      <div class="step pt-0 pt-md-3 pb-5">
        <h2>1</h2>
        <div class="step-body d-flex align-items-center ps-xl-5">
          <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.3" data-disable-parallax-down="lg">
            <%= image_tag 'test.jpg', style: "width:306px;"%>
          </div>
          <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.4" data-disable-parallax-down="lg">
            <h3 class="h4">テストの記録を残しましょう！！</h3>
            <p class="mb-0">自分の受けたテスト名、満点、得点を入力すると、そのテストの達成率を、自動的に計算してくれます。</p>
          </div>
        </div>
      </div>
      <div class="step pt-0 pt-md-4 pb-5">
        <div class="step-number">
          <div class="step-number-inner">2</div>
        </div>
        <div class="step-body d-flex align-items-center ps-xl-5">
          <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="lg">
            <%= image_tag 'my_test.jpg', style: "width:306px;"%>
          </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.5" data-disable-parallax-down="lg">
          <h3 class="h4">自分の成長がすぐに分かる！！</h3>
          <p class="mb-0">テストを登録すると、自分の詳細ページで達成率グラフを作成してくれます。これを見るだけで、自分の不得意や、成長が分かるようになります。</p>
        </div>
      </div>
    </div>
    <div class="step pt-0 pt-md-4 pb-5">
      <div class="step-number">
        <div class="step-number-inner">3</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.3" data-disable-parallax-down="lg">
          <%= image_tag 'friends.jpg', style: "width:306px;"%>
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.4" data-disable-parallax-down="lg">
          <h3 class="h4">友達をフォローして、テスト結果を共有しよう！！</h3>
          <p class="mb-0">ユーザー一覧から、友達を検索してフォローします。そうすると、テスト結果一覧からフォローした友達のテスト結果も見ることができます。</p>
        </div>
      </div>
    </div>
    <div class="step pt-0 pt-md-4 pb-5">
      <div class="step-number">
        <div class="step-number-inner">4</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="lg">
          <%= image_tag 'graph.jpg', style: "width:306px;"%>
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.6" data-disable-parallax-down="lg">
          <h3 class="h4">自分の友達の達成率を比較できる！！</h3>
          <p class="mb-0">テスト結果一覧に、自分と友達のテストの平均達成率が分かるグラフが表示されます。友達と比較して、自分の平均達成率はどのくらいなのか、知ることができるでしょう。</p>
        </div>
      </div>
    </div>
  </div>
</section>