<!-- Breadcrumb -->
<nav class="container mt-lg-4 pt-5" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0 pt-5">
    <li class="breadcrumb-item">
      <a href="index.html"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Blog Grid no Sidebar</li>
  </ol>
</nav>
<!-- Page content -->
<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <!-- Page title + Layout switcher + Search form -->
  <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
    <div class="col-lg-5 col-md-4">
      <h1 class="mb-2 mb-md-0"><%= t('.title') %></h1>
    </div>
      <div class="col-lg-7 col-md-8">
        <%= search_form_for @q, html: { class: 'row gy-2' } do |f| %>
          <div class="col-lg-5 col-sm-6">
            <div class="d-flex align-items-center">
              <%= f.search_field :first_name_or_last_name_cont, class: 'form-control', placeholder: '氏名を検索' %>
            </div>
          </div>
          <div class="col-lg-7 col-sm-6">
            <div class="input-group">
              <%= f.select :grade_and_class_cont, grade_and_class_options, { include_blank: '学年と組を選択' }, { class: 'form-control mr-2' } %>
              <%= f.submit "検索", class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <!-- Blog grid -->
  <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-md-4 gy-2">
    <!-- Item -->
    <% @users.each do |user| %>
      <div class="col pb-3">
        <article class="card border-0 shadow-sm h-100">
          <div class="card-footer py-4">
            <a href="#" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
              <%= image_tag 'sample.jpg', size: '40x40', class: 'rounded-circle mr15'%>
              <%= user.decorate.full_name %> 
            </a>
            <p class="fw-bold text-dark text-decoration-none mt-3">comment: <%= user.introduction %></p>
          </div>
        </article>
      </div>
    <% end %>
  </div>
</section>


