<div class="container d-flex flex-wrap justify-content-center justify-content-center pt-5">
  <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
    <h1 class="text-center text-xl-start"><%= t '.title' %></h1>
    <div class="text-center">
      <div class="d-table position-relative mx-auto mt-2 mt-lg-4 pt-5 mb-3">
        <%= image_tag 'sample.jpg', size: '40x40', class: 'rounded-circle mr15'%>
      </div>
      <h2 class="h5 mb-1"><%= current_user.decorate.full_name %></h2>
      <p class="mb-3 pb-3"><%= current_user.email %></p>
    </div>
    <div class="row">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= t(User.human_attribute_name(:nickname)) %></th>
            <td><%= current_user.nickname %></td>
          </tr>
          <tr>
            <th scope="row"><%= t(User.human_attribute_name(:grade_and_class)) %></th>
            <td><%= current_user.grade_and_class %></td>
          </tr>
          <tr>
            <th scope="row"><%= '達成率の平均値'%></th>
            <td><span class="fs-lg fw-semibold text-danger me-2"> </span><span class="fs-lg fw-semibold text-danger me-2"><%= @average_achievement_rate.present? ? number_to_percentage(@average_achievement_rate, precision: 0) : 'N/A' %></span></td>
          <tr>
          <tr>
            <th scope="row"><%= 'みんなに一言' %></th>
            <td><%= current_user.introduction %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>