<!-- Navbar -->
<!-- Remove "fixed-top" class to make navigation bar scrollable with the page -->
<header class="header navbar navbar-expand-lg bg-light shadow-sm fixed-top">
  <div class="container px-0">
    <a href="index.html" class="navbar-brand pe-3">
      <%= link_to root_path, class: "navbar-brand pe-3" do %>
      TestScoreRivels
      <% end %>
    </a>
    <div id="navbarNav" class="offcanvas offcanvas-end">
      <div class="offcanvas-header border-top">
        <%= link_to 'ログアウト', user_session_path, class: 'btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex', data: {turbo_method: :delete} %>
      </div>      
    </div>
    <%= render 'shared/follow_counts' %>
    <div class="mr-3">
      <strong>フォロワー数:</strong> <%= link_to current_user.followers.count, user_followers_path(current_user) %>
    </div>
    <div class="form-check from-switch mode-switch pe-lg-1 ms-auto me-0" data-bs-toggle="mode">
      <%= link_to 'ユーザー一覧', users_path, class: 'btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex' %>
    </div>
    <div class="form-check from-switch mode-switch pe-lg-1 ms-auto me-0" data-bs-toggle="mode">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          テスト結果
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to '自分のテスト結果', my_results_test_results_path, class: 'dropdown-item' %></li>
          <li><%= link_to 'テスト結果一覧', test_results_path, class: 'dropdown-item' %></li>
        </ul>
      </div>
    </div>
    <div class="form-check from-switch mode-switch pe-lg-1 ms-auto me-0" data-bs-toggle="mode">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          プロフィール
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><div class="dropdown-item"><%= current_user.decorate.full_name %></div></li>
          <li><%= link_to (t 'profiles.show.title'), profile_path, class: 'dropdown-item' %></li>
        </ul>
      </div>
    </div>
    <div class="form-check from-switch mode-switch pe-lg-1 ms-auto me-0" data-bs-toggle="mode">
      <%= link_to 'ログアウト', user_session_path, class: 'btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex', data: {turbo_method: :delete} %>
    </div>
  </div>
</header>